<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.seeker.lucky">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.android7.fileProvider"
                android:grantUriPermissions="true"
                android:exported="false">
            <!--元数据-->
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>
